<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/"><b>MESTRAPEST</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownIncidentes" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Incidentes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownIncidentes">
                        <a class="dropdown-item" href="/incidentes">Listado</a>
                        <a class="dropdown-item" href="/aperturaIncidente">Apertura</a>
                        <a class="dropdown-item" href="/cierreIncidente">Cierre</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEntidades" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Entidades
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownEntidades">
                        <a class="dropdown-item" href="/rankings">Rankings</a>
                        <a class="dropdown-item" href="/cargaMasiva">Carga masiva</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuarios">Usuarios</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Iniciar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
