html,
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Estilos para el banner con imagen de fondo */
.banner {
    background-image: url('../resources/banner1.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.altura-minima{
    min-height: calc(100vh - 150px);
}

.banner h1 {
    font-size: 45px;
    font-weight: bold;
}

.banner p {
    font-size: 22px;
}
#main-content{
    height: fit-content;
    min-height: 100%;
}


.bg-admin, .bg-admin .dropdown-menu{
    background-color: #004ec1 !important;
}
.bg-admin .dropdown-item{
    background-color: #004ec1 !important;
    color: #cccccc !important;
}
.bg-admin .nav-link, .bg-admin a{
    color: #cccccc !important;
}
.bg-admin .nav-link:hover, .bg-admin .dropdown-item:hover, .bg-admin .nav-link.active {
    background-color: #004ec1 !important;
    color: #ffffff !important;
}


.bg-miembro, .bg-miembro .dropdown-menu{
    background-color: #350094 !important;
}
.bg-miembro .dropdown-item{
    background-color: #350094 !important;
    color: #cccccc !important;
}
.bg-miembro .nav-link, .bg-miembro a{
    color: #cccccc !important;
}
.bg-miembro .nav-link:hover, .bg-miembro .dropdown-item:hover, .bg-miembro .nav-link.active {
    background-color: #350094 !important;
    color: #ffffff !important;
}


.bg-adminComunidad, .bg-adminComunidad .dropdown-menu{
    background-color: #00a184 !important;
}
.bg-adminComunidad .dropdown-item{
    background-color: #00a184 !important;
    color: #cccccc !important;
}
.bg-adminComunidad .nav-link, .bg-adminComunidad a{
    color: #cccccc !important;
}
.bg-adminComunidad .nav-link:hover, .bg-adminComunidad .dropdown-item:hover, .bg-adminComunidad .nav-link.active {
    background-color: #00a184 !important;
    color: #ffffff !important;
}


.bg-manejador, .bg-manejador .dropdown-menu{
    background-color: #009825 !important;
}
.bg-manejador .dropdown-item{
    background-color: #009825 !important;
    color: #cccccc !important;
}
.bg-manejador .nav-link, .bg-manejador a{
    color: #cccccc !important;
}
.bg-manejador .nav-link:hover, .bg-manejador .dropdown-item:hover, .bg-manejador .nav-link.active {
    background-color: #009825 !important;
    color: #ffffff !important;
}