<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cierre Incidentes</title>

    <!-- Bootstrap CSS Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS file -->
    <link href="../public/css/generales.css" rel="stylesheet">
</head>
<body class="d-flex flex-column">

<div id="navbar"></div>

<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-3">Cierre de Incidentes</h2>
            <hr>
            <form action="#" method="POST">
                <select class="form-select mb-3" name="provincia[]" required>
                    <option>Provincia</option>
                    <option value="provincia1">Provincia 1</option>
                    <option value="provincia2">Provincia 2</option>
                    <option value="provincia3">Provincia 3</option>
                </select>
                <select class="form-select mb-3" name="departamento[]" required>
                    <option>Departamento</option>
                    <option value="departamento1">Departamento 1</option>
                    <option value="departamento2">Departamento 2</option>
                    <option value="departamento3">Departamento 3</option>
                </select>
                <select class="form-select mb-3" name="localidad[]" required>
                    <option>Localidad</option>
                    <option value="localidad1">Localidad 1</option>
                    <option value="localidad2">Localidad 2</option>
                    <option value="localidad3">Localidad 3</option>
                </select>
                <select class="form-select mb-3" name="incidente" required>
                    <option>Incidentes abiertos</option>
                    <option value="incidente1">Incidente 1</option>
                    <option value="incidente2">Incidente 2</option>
                    <option value="incidente3">Incidente 3</option>
                </select>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Cerrar incidente</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="footer" class="mt-auto"></div>

<!-- Bootstrap JavaScript y Popper.js Links -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>


<!-- JS files -->
<script src="../public/js/manejoTemplates.js"></script>

<!-- Carga de templates -->
<script>
    cargarTemplate("./templates/navbar.html", "navbar");
    cargarTemplate("./templates/footer.html", "footer");
    resaltarElementoActivo("cargaMasiva");
</script>

</body>
</html>
