{{#partial "titulo"}}
    <title>Crear servicio</title>
{{/partial}}
{{#partial "imports"}}
    <script src="/js/manejoFormularioServicios.js"></script>
{{/partial}}
{{#partial "contenido"}}
<div class="container mt-4 mb-4 altura-minima">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-3">Crear Servicio</h2>
            <hr>
            <form action="/servicios" method="POST" id="formGeo">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                {{#if establecimiento}}
                    <input type="hidden" value="{{establecimiento.id}}" name="establecimiento">
                {{/if}}
                <div id="bloquesDinamicos">
                    <div class="h5">Etiquetas</div>
                    <div class="dynamic-block">
                        <div class="mb-3">
                            <select class="form-select mb-3 tipo-etiqueta" name="tipo[]" required>
                                <option>Tipo de etiqueta</option>
                                {{#each tipoEtiquetas}}
                                    <option value="{{id}}">{{nombre}}</option>
                                {{/each}}
                            </select>
                            <select class="form-select mb-3 valor-etiqueta" name="etiqueta[]" required>
                                <option>Valor de etiqueta</option>
                            </select>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn btn-sm btn-danger" id="remove-service" href="#">Eliminar última etiqueta</a>
                    <a class="btn btn-sm btn-success" id="add-service" href="#">Agregar etiqueta</a>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Crear servicio</button>
                    {{#if establecimiento}}
                        <a class="btn btn-secondary" href="/establecimientos/{{establecimiento.id}}">Volver a establecimiento</a>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</div>

<datalist id="listaServicios">
</datalist>
{{/partial}}
{{> templates/base }}
