{{#partial "titulo"}}
    <title>Inicio</title>
{{/partial}}
{{#partial "contenido"}}
<div class="container-fluid banner">
    <div class="row justify-content-center align-items-center text-center text-white">
        <div class="col-md-6">
            <h1>Bienvenido a MESTRAPEST</h1>
            <p>Monitoreo de Estado de Servicios de Transporte Público y de Establecimientos</p>
        </div>
    </div>
</div>

<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-8">

            <!-- Sección Problemática -->
            <section class="mb-4 mt-4">
                <h2>Problemática</h2>
                <p>La movilidad urbana es un aspecto crucial de la vida en una ciudad moderna. Sin embargo, las personas con movilidad reducida a menudo enfrentan obstáculos significativos al moverse por la ciudad. Estas dificultades no solo afectan a las personas con discapacidades permanentes, sino también a aquellos que experimentan movilidad reducida temporalmente, como aquellos con lesiones recientes o personas mayores.</p>
                <p>Algunos de los problemas comunes de movilidad en las ciudades incluyen:</p>
                <ul>
                    <li><b>Accesibilidad</b>: Las veredas estrechas, la falta de rampas para sillas de ruedas y los obstáculos en las calles dificultan que las personas con movilidad reducida se desplacen de manera segura.</li>
                    <li><b>Transporte Público</b>: Los autobuses y trenes pueden ser difíciles de abordar para personas con discapacidades. La falta de rampas o elevadores en el transporte público limita su accesibilidad.</li>
                    <li><b>Edificios Inaccesibles</b>: Las instalaciones de los edificios en las ciudades pueden tener escaleras y puertas estrechas, lo que hace que muchas ubicaciones sean inaccesibles para personas con movilidad reducida.</li>
                    <li><b>Información Limitada</b>: Encontrar información sobre rutas de transporte público accesibles y la accesibilidad de lugares específicos puede ser un desafío. Esto dificulta la planificación de viajes.</li>
                </ul>
            </section>

            <hr>

            <!-- Sección Nuestro Sistema -->
            <section class="mt-4">
                <h2>Nuestro Sistema</h2>
                <p>
                    Para abordar estos desafíos y mejorar la movilidad urbana, hemos desarrollado un Monitoreo de Estado de Servicios de Transporte Público y de Establecimientos (<b>MESTRAPEST</b>). Nuestro sistema tiene como objetivo proporcionar soluciones prácticas y accesibles para las personas con movilidad reducida y aquellas que cuidan de ellas.
                </p>
                <p>
                    Características Destacadas:
                </p>
                <ul>
                    <li><b>Monitoreo de la accesibilidad</b> de las ubicaciones de la ciudad.</li>
                    <li>Información detallada sobre el <b>estado de los servicios</b> de distintos establecimientos.</li>
                    <li><b>Notificaciones</b> sobre problemas de accesibilidad en <b>establecimientos de interés</b>.</li>
                    <li><b>Comunidades activas</b> que comparten información para mejorar la movilidad de todos.</li>
                </ul>
            </section>
        </div>
    </div>
</div>
{{/partial}}
{{> templates/base }}