<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MESTRAPEST</title>

    <!-- Bootstrap CSS Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS file -->
    <link href="/css/generales.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico">
</head>
<body class="d-flex flex-column">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/"><b>MESTRAPEST</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownIncidentes" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Incidentes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownIncidentes">
                        <a class="dropdown-item" href="/incidentes">Listado</a>
                        <a class="dropdown-item" href="/aperturaIncidente">Apertura</a>
                        <a class="dropdown-item" href="/cierreIncidente">Cierre</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEntidades" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Entidades
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownEntidades">
                        <a class="dropdown-item" href="/rankings">Rankings</a>
                        <a class="dropdown-item" href="/cargaMasiva">Carga masiva</a>
                        <a class="dropdown-item" href="/entidadesPrestadoras">Administracion</a>
                    </div>
                </li>
                {{#with adminPlataforma}}
                    <li class="nav-item">
                        <a class="nav-link" href="/usuarios">Usuarios</a>
                    </li>
                {{/with}}
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSesion" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mi sesión
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownSesion">
                        <a class="dropdown-item" href="/usuarios/{{userActual.id}}/edit">Mi perfil</a>
                        <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Contenido principal -->
<div class="container-fluid banner">
    <div class="row justify-content-center align-items-center text-center text-white">
        <div class="col-md-6">
            <h1>Bienvenido a MESTRAPEST</h1>
            <p>Monitoreo de Estado de Servicios de Transporte Público y de Establecimientos</p>
        </div>
    </div>
</div>

<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-8">

            <!-- Sección Problemática -->
            <section class="mb-4 mt-4">
                <h2>Problemática</h2>
                <p>La movilidad urbana es un aspecto crucial de la vida en una ciudad moderna. Sin embargo, las personas con movilidad reducida a menudo enfrentan obstáculos significativos al moverse por la ciudad. Estas dificultades no solo afectan a las personas con discapacidades permanentes, sino también a aquellos que experimentan movilidad reducida temporalmente, como aquellos con lesiones recientes o personas mayores.</p>
                <p>Algunos de los problemas comunes de movilidad en las ciudades incluyen:</p>
                <ul>
                    <li><b>Accesibilidad</b>: Las veredas estrechas, la falta de rampas para sillas de ruedas y los obstáculos en las calles dificultan que las personas con movilidad reducida se desplacen de manera segura.</li>
                    <li><b>Transporte Público</b>: Los autobuses y trenes pueden ser difíciles de abordar para personas con discapacidades. La falta de rampas o elevadores en el transporte público limita su accesibilidad.</li>
                    <li><b>Edificios Inaccesibles</b>: Las instalaciones de los edificios en las ciudades pueden tener escaleras y puertas estrechas, lo que hace que muchas ubicaciones sean inaccesibles para personas con movilidad reducida.</li>
                    <li><b>Información Limitada</b>: Encontrar información sobre rutas de transporte público accesibles y la accesibilidad de lugares específicos puede ser un desafío. Esto dificulta la planificación de viajes.</li>
                </ul>
            </section>

            <hr>

            <!-- Sección Nuestro Sistema -->
            <section class="mt-4">
                <h2>Nuestro Sistema</h2>
                <p>
                    Para abordar estos desafíos y mejorar la movilidad urbana, hemos desarrollado un Monitoreo de Estado de Servicios de Transporte Público y de Establecimientos (<b>MESTRAPEST</b>). Nuestro sistema tiene como objetivo proporcionar soluciones prácticas y accesibles para las personas con movilidad reducida y aquellas que cuidan de ellas.
                </p>
                <p>
                    Características Destacadas:
                </p>
                <ul>
                    <li><b>Monitoreo de la accesibilidad</b> de las ubicaciones de la ciudad.</li>
                    <li>Información detallada sobre el <b>estado de los servicios</b> de distintos establecimientos.</li>
                    <li><b>Notificaciones</b> sobre problemas de accesibilidad en <b>establecimientos de interés</b>.</li>
                    <li><b>Comunidades activas</b> que comparten información para mejorar la movilidad de todos.</li>
                </ul>
            </section>
        </div>
    </div>
</div>

<footer class="bg-secondary text-white text-center py-3">
    <div class="container">
        2023 Grupo 19 - UTN FRBA, DDS Miércoles Noche.
    </div>
</footer>

<!-- Bootstrap JavaScript y Popper.js Links -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
